# Ignore API keys (if used)
apikey.txt

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Visual Studio internal folder
.vs/

# VS Build artifacts
*.obj
*.pdb
*.idb
*.exe
*.ilk
*.pch
*.manifest
*.tlog
*.user
*.suo
*.cache

Debug/
Release/
x64/
ipch/

# Logs
*.log

# Ignore CMake (if used)
CMakeFiles/
CMakeCache.txt

# Ignore node_modules (future UI)
node_modules/

